.article-section {
  & .flex-column {
    display: flex;
    flex-direction: column;

    &--reversed {
      @media all and (min-width: 70em) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        column-gap: 32px;
      }
    }
    @media all and (min-width: 70em) {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 32px;
    }
  }
  &-delivery-time {
    min-width: fit-content;
    font-size: clamp(24px, 4vw, 40px);
  }

  &_about {
    &-heading {
      font-size: clamp(32px, 4.5vw, 64px);
      margin-bottom: 8px;

      &--xs {
        font-size: 24px;

        @media all and (min-width: 40em) {
          font-size: 48px;
        }
        @media all and (min-width: 70em) {
          font-size: 64px;
        }
      }

      &--accent {
        font-size: 20px;
        @media all and (min-width: 40em) {
          font-size: 24px;
        }
        @media all and (min-width: 70em) {
          font-size: 32px;
        }
      }
    }
    & ul {
      margin-left: 24px;
      & li {
        padding-left: 12px;
        margin-bottom: 8px;
      }

      list-style-image: url("/assets/icons/ListPoint.svg");
    }
    &--garanty {
      @media all and (min-width: 70em) {
        max-width: 564px;
      }
    }
    &--delivery {
      margin-bottom: 40px;
    }
  }

  &-img {
    @media all and (min-width: 70em) {
      max-height: 535px;
      margin-bottom: 0.85rem;
      #section-delivery & {
        max-height: 679px;
      }
    }
  }

  /* Utils */
  &--margin-m {
    margin-bottom: 16px;
    @media all and (min-width: 40em) {
      margin-bottom: 24px;
    }
  }
  &--margin-xl {
    margin-bottom: 24px;
    @media all and (min-width: 70em) {
      margin-bottom: 32px;
    }
  }
  .delivery-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    &_item {
      img {
        margin-bottom: 44px;
        @media all and (min-width: 70em) {
          margin-bottom: 64px;
        }
      }
      padding: 8px;
      border: 1px solid black;
    }
  }
  .delivery-about {
    & .button {
      max-width: none;
    }
    &__description {
      margin: {
        top: 16px;
        bottom: 24px;
      }
      @media all and (min-width: 70em) {
        margin-top: 24px;
      }
    }
  }
  & .reversed-mobile {
    @media all and (max-width: 70em) {
      flex-direction: column-reverse;
    }
  }
  & .content-wrapper {
    @media (35em <= width < 60em) {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 16px;
      & p {
        max-width: 360px;
      }
    }
  }
}

#section {
  &-regions {
    & .flex-column {
      @media all and (min-width: 70em) {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 32px;
      }
    }
    & .article-section_about-heading--accent {
      margin-bottom: 16px;
    }
    & h3 {
      margin-bottom: 12px;
      @media all and (min-width: 70em) {
        margin-bottom: 8px;
      }
    }
  }
  &-recieve {
    & .button {
      max-width: none;
    }
    @media all and (min-width: 70em) {
      & .article-section-img {
        max-width: 533px;
      }
    }
  }
  &-delivery {
    & .article-section_about {
      @media all and (min-width: 70em) {
        margin-top: 24px;
        max-width: 644px;
      }
    }
  }
}
