.brands-section {
  .container {
    padding: 32px 20px;
    @media only screen and (min-width: 64em) {
      padding: 48px 64px;
    }
  }
  &-heading {
    font-size: 24px;
    line-height: 1.45;
    margin-bottom: 32px;
    @media only screen and (min-width: 40em) {
      font-size: 48px;
      line-height: 56px;
    }
    @media only screen and (min-width: 64em) {
      font-size: 64px;
    }
  }
  &_brand-list,
  &_vehicle-list {
    display: grid;
  }
  &_brand-list {
    $gap: 2rem;
    $line-offset: calc($gap / 2);
    $line-thickness: 2px;
    $line-color: #4f5261;
    overflow: hidden;
    border-top: 2px solid $line-color;
    border-bottom: 2px solid $line-color;

    gap: $gap;
    margin-bottom: 48px;

    grid-template-columns: repeat(2, minmax(min(120px, 100%), 1fr));
    @media only screen and (min-width: 40em) {
      grid-template-columns: repeat(4, minmax(min(100px, 100%), 1fr));
    }

    @media only screen and (min-width: 84em) {
      grid-template-columns: repeat(4, minmax(min(227px, 100%), 1fr));
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      & img {
        padding: 8px 0px;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: $line-color;
        z-index: 1;
      }
      &::before {
        inline-size: $line-thickness;
        block-size: 100vw;
        inset-inline-start: calc($line-offset * -1);
      }
      &::after {
        inline-size: 100vw;
        block-size: $line-thickness;
        inset-inline-start: 0;
        inset-block-start: calc($line-offset * -1);
      }
      @media only screen and (min-width: 64em) {
        max-height: 144px;
      }
    }
  }
  &_vehicle-list {
    gap: 32px 16px;
    grid-template-columns: repeat(2, minmax(min(142px, 100%), 1fr));
    @media only screen and (min-width: 40em) {
      grid-template-columns: repeat(4, minmax(min(80px, 100%), 1fr));
      gap: 1rem;
    }
    &__item {
      display: flex;
      flex-direction: column;

      text-align: center;
      & img {
        max-height: 56px;
      }
      & figcaption {
        margin-top: 8px;
        font-size: 16px;
      }
      @media only screen and (min-width: 64em) {
        align-items: start;
        text-align: start;
        justify-content: start;
      }
    }
  }
}
