@use "../colors" as c;
.catalog {
  --columns-number: 1;
  grid-template-columns: repeat(var(--columns-number), 1fr);
  display: grid;
  position: relative;
  row-gap: 40px;
  font-size: 16px;
  @media all and (min-width: 47em) {
    --columns-number: 2;
    column-gap: 32px;
    grid-template-columns: repeat(
      var(--columns-number),
      minmax(min(320px, 100%), 1fr)
    );
  }
  @media all and (min-width: 85em) {
    --columns-number: 3;
    column-gap: 24px;
  }
  & .button-background,
  button {
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    @media all and (min-width: 64em) {
      clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    }
  }
  & button {
    @media all and (min-width: 64em) {
      padding: 8px 24px;
    }
  }
  &-item {
    &_description {
      user-select: none;
      margin: 16px 0px;
      & h3 {
        margin-bottom: 8px;
        font-size: 18px;
        @media all and (min-width: 64em) {
          font-size: 24px;
        }
      }
      & p {
        @media all and (min-width: 40em) {
          min-height: 48px;
        }
      }
    }
    & img {
      margin: 0 auto;
      min-height: 318px;
    }
    &_button-row {
      height: 48px;
      display: grid;
      max-width: 320px;
      font-weight: 500;
      gap: 4px;
      grid-template-columns: repeat(3, minmax(min(104px, 100%), 1fr));
      grid-template-rows: auto;
      @media all and (min-width: 64em) {
        gap: 8px;
        height: 36px;
        grid-template-columns: repeat(3, 115px);
      }
    }
  }
  &-banner {
    position: relative;
    background-color: c.$color-accent;
    clip-path: polygon(26px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
    padding: 24px;
    height: min-content;
    overflow: hidden;

    @media all and (min-width: 47em) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @media all and (min-width: 85em) {
      grid-column-start: 2;
      grid-column-end: 4;
      padding: 36px;
    }

    & .decor {
      margin-bottom: 40px;
      @media all and (min-width: 40em) {
        width: 120px;
        height: 104px;
      }
      @media all and (min-width: 64em) {
        width: 150px;
        height: 127px;
      }
    }

    &_content {
      font-size: 28px;
      @media all and (min-width: 40em) {
        font-size: 40px;
      }
      @media all and (min-width: 64em) {
        font-size: 48px;
      }
    }
  }
  & .bg-decor {
    position: absolute;
    z-index: -1;
    --sizing: 240px;
    width: var(--sizing);
    height: var(--sizing);
    right: calc(var(--sizing) * -0.2);
    bottom: calc(var(--sizing) * -0.3);
    @media all and (min-width: 45em) {
      --sizing: 440px;
    }
    @media all and (min-width: 64em) {
      --sizing: 549px;
      bottom: -20px;
    }
  }
}
