@use "../colors" as v;

.quiz-section {
  position: relative;
  padding: 30px 0;
  background-color: rgb(66, 70, 83);
  @media only screen and (min-width: 40em) {
    padding-top: 30px;
    padding-bottom: 54px;
  }
  @media only screen and (min-width: 64em) {
    padding-top: 48px;
    padding-bottom: 204px;
  }
  &__about {
    margin-bottom: 16px;
    font-size: clamp(24px,3vw,40px);
    @media only screen and (min-width: 40em) {
      margin-bottom: 32px;
    }

    @media only screen and (40em<= width < 64em) {
      text-align: center;
    }
  }
  &__interactive {
    height: 478px;
    position: relative;
    padding: 24px 16px;
    background-color: v.$color-neutral-900;
    @media only screen and (min-width: 40em) {
      width: 533px;
      height: 412px;
      padding: 32px 24px;
    }
    @media only screen and (min-width: 64em) {
      height: 452px;
      transform: translateY(80px);
    }
    &_progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(230, 231, 232, 1);
      height: 4px;
      width: 100%;
      &--completed {
        height: 100%;
        width: 25%;
        background-color: v.$color-accent;
      }
    }
  }
  &__bg-decor-item {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: v.$color-accent;
    width: 50vw;
    height: 55%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    @media only screen and (min-width: 64em) {
      height: 100%;
      clip-path: polygon(90% 0, 100% 0, 100% 100%, 35% 100%);
    }
  }
  & .container {
    position: relative;
    z-index: 2;
    @media only screen and (min-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media only screen and (min-width: 64em) {
      flex-direction: row;
      gap:32px;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  &__question {
    font-size: 18px;
    @media only screen and (min-width: 40em) {
      font-size: 24px;
    }
  }
  &__radio-group {
    display: grid;
    text-align: center;
    --gap: 9px;
    gap: var(--gap);

    font-size: 16px;
    & label {
      display: block !important;
    }

    &.columned {
      grid-template-columns: 1fr 1fr;
      font-size: 14px;
      margin-bottom: var(--gap);
      @media only screen and (min-width: 40em) {
        font-size: 16px;
      }
    }
    @media only screen and (min-width: 40em) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  & .form__input {
    width: 100%;
  }
  .current-step {
    height: 100%;
    max-height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;

    &__controlls {
      display: flex;

      gap: 16px;
      & button:not(:only-child),
      .button-background,
      input {
        clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
      }
    }
    &[data-step-content="4"] {
      & form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }
  & .figure-wrapper {
    width: 100%;
    height: 48px;
    @media only screen and (min-width: 40em) {
      height: 58px;
    }
    @media only screen and (min-width: 64em) {
      height: 62px;
    }
  }
  &__decor-img {
    display: none;
    @media only screen and (min-width: 64em) {
      display: block;
      position: absolute;
      z-index: -1;
      bottom: -160px;
      left: -42px;
    }
  }
  & button,
  input[type="submit"] {
    @media only screen and (min-width: 40em) {
      font-size: 24px;
    }
  }
}
