@use "../colors" as v;
.slider-section {
  &_about {
    width: 100%;

    @media screen and (min-width: 60em) {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
    &-header {
      font-size: 24px;
      text-align: center;
      max-width: 320px;
      margin: 0 auto;
      @media screen and (min-width: 60em) {
        text-align: left;
        max-width: none;
        font-size: 32px;
        margin: unset;
      }
    }
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 60em) {
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: 99;
    }
    @media screen and (min-width: 60em) {
      gap: 16px;
      & > * {
        cursor: pointer;
      }
    }
    & button {
      border: none;
      background: url("/assets/icons/SliderArrow.svg") center no-repeat;
      background-color: white;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      width: 56px;
      height: 48px;
    }
  }
}
.glide {
  &.reversed {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 60em) {
      & > [data-column-order="2"] {
        order: 2;
      }
      & > [data-column-order="3"] {
        order: 3;
      }
    }
  }

  &__track {
    margin-top: 16px;
    @media screen and (min-width: 60em) {
      margin-top: 38px;
    }
  }
  &__slide {
    img {
      border-radius: 3px;
      margin: 0 auto;
    }
  }
  &__bullets {
    width: fit-content;
    margin: 40px auto;
    @media screen and (max-width: 60em) {
      margin: 24px auto;
    }
  }
  &__bullet {
    border: none;
    height: 10px;
    width: 12px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    &--active {
      background-color: v.$color-accent;
    }
  }
  [data-text-align-mobile="left"] {
    @media screen and (max-width: 60em) {
      text-align: left;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

#section-agregators {
  & article {
    @media screen and (min-width: 60em) {
      margin-top: 48px;
    }
    section {
      @media screen and (min-width: 60em) {
        max-width: 533px;
      }
    }
  }

  & .glide {
    @media screen and (min-width: 60em) {
      max-width: 533px;
    }
    &__track {
      margin: 0;
    }
  }
  & .slider-section__controls {
    @media screen and (max-width: 60em) {
      transform: translateY(-7.5vh);
    }
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 35px;
  }
}
#repair-slider {
  & .slider-section__controls {
    @media screen and (max-width: 60em) {
      transform: translateY(-15vh);
    }
  }
}
