.pop-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 24px 16px;

  &-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 55px 20px;
    z-index: 999;
    top: 0;
    background-color: rgba(68, 71, 83, 0.7);
  }
  & .text-underline {
    font-size: 20px;
    @media all and (min-width: 64em) {
      font-size: 40px;
    }
    &[data-type="policy"] {
      font-size: 16px;
    }
  }
  & .button-close {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  & form {
    margin-top: 16px;
    @media all and (min-width: 64em) {
      margin-top: 24px;
    }
    & label {
      font-size: 16px;
    }
    & input {
      font-size: 16px;
      @media all and (min-width: 64em) {
        font-size: 24px;
      }
    }
  }
  & p:last-of-type {
    width: 99%;
  }
  @media all and (min-width: 64em) {
    font-size: 18px;
    padding: 24px;
  }
}
.show-popUp {
  cursor: pointer;
}
.members-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  @media all and (min-width: 40em) {
    font-size: 20px;
  }
  @media all and (min-width: 64em) {
    grid-template-columns: 1fr 1fr;
    column-gap: 96px;
  }
  &__item {
    text-align: left;
    @media all and (min-width: 40em) {
      display: flex;
      column-gap: 16px;
      align-items: center;
    }
    & > div {
      @media all and (min-width: 64em) {
        transform: translateY(-6px);
      }
    }
    &--header {
      font-size: 18px;
      @media all and (min-width: 40em) {
        font-size: 24px;
      }
    }
  }
}
#members-modal {
  &__header {
    text-align: left;
    max-width: 274px;
    font-size: 20px;
    margin-bottom: 34px;
    @media all and (min-width: 40em) {
      font-size: 32px;
      max-width: none;
    }
  }

  & .pop-up {
    width: 100%;
    display: block;
    height: 100%;
    width: fit-content;
    overflow-y: scroll;
    @media all and (min-width: 40em) {
      padding: 32px;
    }
    @media all and (min-width: 100em) {
      display: flex;
      align-items: center;
      width: 1312px;
    }
    @media all and (min-width: 64em) and (min-height: 680px) {
      overflow: hidden;
      height: fit-content;
    }
  }
  &.pop-up-wrapper {
    @media all and (min-width: 64em) {
      padding: 16px 32px;
    }
  }
  & #owner {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    @media all and (min-width: 64em) {
      gap: 6px;
    }
    & .bg-accent {
      padding: 0 0.2rem 0.1rem 0.2rem;
    }
  }
}
#send-form__response {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  z-index: 999;
  bottom: 12px;
  right: 12px;
  padding: 0.8rem;

  transition: opacity 700ms linear;
  @media all and (min-width: 64em) {
    bottom: 24px;
  }
}
