$color-accent: rgba(255, 203, 5, 1);
$color-accent-hovered: rgba(255, 229, 128, 1);
$color-neutral-900: rgba(255, 255, 255, 1);
$color-neutral-600: rgba(149, 149, 157, 1);
$color-neutral-400: rgba(68, 71, 83, 1);

$color-main: #000;
