*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  text-decoration: inherit;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.entry-section-founding-date {
  line-height: 1;
}
@media all and (min-width: 40em) {
  .entry-section-founding-date {
    display: none;
  }
}
@media all and (min-width: 64em) {
  .entry-section-founding-date {
    display: block;
  }
}
.entry-section-founding-date p:first-child {
  font-size: 16px;
}
.entry-section-founding-date p:last-child {
  font-size: 108px;
}
@media all and (min-width: 64em) {
  .entry-section-founding-date p:last-child {
    font-size: 40px;
    margin-top: 4px;
  }
}
.entry-section-advantage-list {
  width: 100%;
  display: grid;
  gap: 16px;
  font-size: 14px;
  grid-template-columns: repeat(2, minmax(min(152px, 100%), 1fr));
  margin-top: 24px;
}
@media all and (min-width: 40em) {
  .entry-section-advantage-list {
    padding-bottom: 8px;
    grid-template-columns: repeat(4, minmax(min(123px, 100%), 1fr));
  }
}
@media all and (min-width: 64em) {
  .entry-section-advantage-list {
    width: fit-content;
    font-size: 16px;
    grid-template-columns: repeat(4, minmax(min(152px, 100%), 204px));
    gap: 24px;
  }
}
.entry-section-advantage-list_item {
  --shape-figure: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
  --height-figure: 104px;
  --width-border: 2px;
  --color-text: #000;
  --color-border: #000;
  --color-inner: white;
  position: relative;
  width: 100%;
  background-color: var(--color-border);
  height: var(--height-figure);
  color: var(--color-text);
  clip-path: var(--shape-figure);
}
@media all and (min-width: 40em) {
  .entry-section-advantage-list_item {
    --height-figure: 88px;
    --color-text: #fff;
    --color-border: rgb(255, 203, 5);
    --color-inner: #000;
  }
}
@media all and (min-width: 64em) {
  .entry-section-advantage-list_item {
    --height-figure: 96px;
  }
}
.entry-section-advantage-list_item::before {
  content: "";
  position: absolute;
  clip-path: var(--shape-figure);
  width: calc(100% - 2 * var(--width-border));
  height: calc(100% - 2 * var(--width-border));
  background-color: var(--color-inner);
  transform: translate(var(--width-border), var(--width-border));
}
.entry-section-advantage-list_item .p {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px 6px;
}
@media all and (min-width: 40em) {
  .entry-section-advantage-list_item .p {
    padding: 10px 8px;
  }
}
@media all and (min-width: 64em) {
  .entry-section-advantage-list_item .p {
    padding: 12px 10px;
  }
}
.entry-section--main {
  background: #000;
  min-height: 688px;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  margin-bottom: 32px;
}
@media all and (min-width: 40em) {
  .entry-section--main {
    height: 852px;
  }
}
@media all and (min-width: 64em) {
  .entry-section--main {
    height: 720px;
  }
}
.entry-section--main .container {
  overflow: hidden;
  height: 100%;
  position: relative;
}
@media all and (min-width: 64em) {
  .entry-section--main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.entry-section--main__header, .entry-section--main__description {
  position: relative;
  z-index: 999;
}
.entry-section--main__header, .entry-section--main__footer {
  display: flex;
  justify-content: space-between;
}
.entry-section--main__header {
  gap: 25px;
  margin-bottom: 20px;
  align-items: center;
}
@media all and (min-width: 40em) {
  .entry-section--main__header {
    margin-bottom: 350px;
  }
}
@media all and (min-width: 64em) {
  .entry-section--main__header {
    margin-bottom: 96px;
  }
}
.entry-section--main__header-logo {
  height: 56px;
}
@media all and (min-width: 40em) {
  .entry-section--main__header-logo {
    height: 80px;
  }
}
.entry-section--main__header-schedule {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media all and (min-width: 64em) {
  .entry-section--main__header-schedule {
    flex-direction: row;
    align-items: end;
    column-gap: 24px;
    max-width: 600px;
  }
}
.entry-section--main__header-button {
  display: none;
}
@media all and (min-width: 40em) {
  .entry-section--main__header-button {
    display: block;
  }
}
.entry-section--main__description article {
  margin-bottom: 12px;
}
@media only screen and (min-width: 40em) {
  .entry-section--main__description article {
    margin-bottom: 16px;
  }
}
.entry-section--main__description-location-data {
  display: block;
  border: 2px solid rgb(255, 203, 5);
  background-color: rgb(22, 25, 31);
  padding: 12px 18px;
  max-width: 320px;
  font-size: 0.9rem;
  position: relative;
  z-index: 999;
}
.entry-section--main__description .main-factories {
  font-size: 20px;
}
@media only screen and (min-width: 40em) {
  .entry-section--main__description .main-factories {
    font-size: 32px;
    margin-top: 12px;
  }
}
@media only screen and (min-width: 64em) {
  .entry-section--main__description {
    flex-direction: column-reverse !important;
  }
}
.entry-section--main-decor-object {
  transform: translate(35px, -10px);
}
@media only screen and (min-width: 40em) {
  .entry-section--main-decor-object {
    transform: none;
    position: absolute;
    z-index: 0;
    right: 10vw;
    top: -16px;
  }
}
@media only screen and (min-width: 64em) {
  .entry-section--main-decor-object {
    right: 8vw;
  }
}
@media only screen and (min-width: 100em) {
  .entry-section--main-decor-object {
    right: 6vw;
  }
}
.entry-section--main__footer {
  display: none;
}
@media all and (min-width: 40em) {
  .entry-section--main__footer {
    transform: translateY(32px);
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media all and (min-width: 64em) {
  .entry-section--main__footer {
    transform: translateY(54px);
  }
}
.entry-section--main-mobile-button {
  display: block;
  margin: 0 auto;
}
@media all and (min-width: 40em) {
  .entry-section--main-mobile-button {
    display: none;
  }
}
@media all and (min-width: 40em) {
  .entry-section--mobile {
    display: none;
  }
}
.entry-section .text-underline {
  font-size: 20px;
}
@media all and (min-width: 40em) {
  .entry-section .text-underline {
    text-underline-offset: 6px;
    font-size: 24px;
  }
}
@media all and (min-width: 64em) {
  .entry-section .text-underline {
    font-size: 40px;
  }
}
@media all and (min-width: 40em) {
  .entry-section .arrow > * {
    background: rgb(255, 203, 5) !important;
  }
}

.article-section {
  /* Utils */
}
.article-section .flex-column {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 64em) {
  .article-section .flex-column--reversed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 32px;
  }
}
@media all and (min-width: 64em) {
  .article-section .flex-column {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 32px;
  }
}
.article-section-delivery-time {
  font-size: 24px;
}
@media all and (min-width: 40em) {
  .article-section-delivery-time {
    font-size: 32px;
  }
}
@media all and (min-width: 64em) {
  .article-section-delivery-time {
    font-size: 40px;
  }
}
.article-section_about-heading {
  font-size: 32px;
  margin-bottom: 8px;
}
@media all and (min-width: 40em) {
  .article-section_about-heading {
    font-size: 48px;
    margin-bottom: 16px;
  }
}
@media all and (min-width: 64em) {
  .article-section_about-heading {
    font-size: 64px;
  }
}
.article-section_about-heading--xs {
  font-size: 24px;
}
@media all and (min-width: 40em) {
  .article-section_about-heading--xs {
    font-size: 48px;
  }
}
@media all and (min-width: 64em) {
  .article-section_about-heading--xs {
    font-size: 64px;
  }
}
.article-section_about-heading--accent {
  font-size: 20px;
}
@media all and (min-width: 40em) {
  .article-section_about-heading--accent {
    font-size: 24px;
  }
}
@media all and (min-width: 64em) {
  .article-section_about-heading--accent {
    font-size: 32px;
  }
}
.article-section_about ul {
  margin-left: 24px;
  list-style-image: url("/assets/icons/ListPoint.svg");
}
.article-section_about ul li {
  padding-left: 12px;
  margin-bottom: 8px;
}
@media all and (min-width: 64em) {
  .article-section_about--garanty {
    max-width: 564px;
  }
}
.article-section_about--delivery {
  margin-bottom: 40px;
}
@media all and (min-width: 64em) {
  .article-section-img {
    max-height: 535px;
    margin-bottom: 0.85rem;
  }
  #section-delivery .article-section-img {
    max-height: 679px;
  }
}
.article-section--margin-m {
  margin-bottom: 16px;
}
@media all and (min-width: 40em) {
  .article-section--margin-m {
    margin-bottom: 24px;
  }
}
.article-section--margin-xl {
  margin-bottom: 24px;
}
@media all and (min-width: 64em) {
  .article-section--margin-xl {
    margin-bottom: 32px;
  }
}
.article-section .delivery-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}
.article-section .delivery-options_item {
  padding: 8px;
  border: 1px solid black;
}
.article-section .delivery-options_item img {
  margin-bottom: 44px;
}
@media all and (min-width: 64em) {
  .article-section .delivery-options_item img {
    margin-bottom: 64px;
  }
}
.article-section .delivery-about .button {
  max-width: none;
}
.article-section .delivery-about__description {
  margin-top: 16px;
  margin-bottom: 24px;
}
@media all and (min-width: 64em) {
  .article-section .delivery-about__description {
    margin-top: 24px;
  }
}
@media all and (max-width: 64em) {
  .article-section .reversed-mobile {
    flex-direction: column-reverse;
  }
}
@media (40em <= width < 64em) {
  .article-section .content-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .article-section .content-wrapper p {
    max-width: 360px;
  }
}

#section-recieve .button {
  max-width: none;
}
@media all and (min-width: 64em) {
  #section-recieve .article-section-img {
    max-width: 533px;
  }
}
@media all and (min-width: 64em) {
  #section-delivery .article-section_about {
    margin-top: 24px;
    max-width: 644px;
  }
}

.quiz-section {
  position: relative;
  padding: 30px 0;
  background-color: rgb(66, 70, 83);
}
@media only screen and (min-width: 40em) {
  .quiz-section {
    padding-top: 30px;
    padding-bottom: 54px;
  }
}
@media only screen and (min-width: 64em) {
  .quiz-section {
    padding-top: 48px;
    padding-bottom: 204px;
  }
}
.quiz-section__about {
  margin-bottom: 16px;
  font-size: 24px;
}
@media only screen and (min-width: 40em) {
  .quiz-section__about {
    text-align: center;
    font-size: 40px;
    margin-bottom: 32px;
  }
}
.quiz-section__interactive {
  height: 478px;
  position: relative;
  padding: 24px 16px;
  background-color: rgb(255, 255, 255);
}
@media only screen and (min-width: 40em) {
  .quiz-section__interactive {
    width: 533px;
    height: 412px;
    padding: 32px 24px;
  }
}
@media only screen and (min-width: 64em) {
  .quiz-section__interactive {
    height: 452px;
    transform: translateY(80px);
  }
}
.quiz-section__interactive_progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(230, 231, 232);
  height: 4px;
  width: 100%;
}
.quiz-section__interactive_progress-bar--completed {
  height: 100%;
  width: 25%;
  background-color: rgb(255, 203, 5);
}
.quiz-section__bg-decor-item {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 203, 5);
  width: 50vw;
  height: 55%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
@media only screen and (min-width: 64em) {
  .quiz-section__bg-decor-item {
    height: 100%;
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 35% 100%);
  }
}
.quiz-section .container {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 40em) {
  .quiz-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 64em) {
  .quiz-section .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.quiz-section__question {
  font-size: 18px;
}
@media only screen and (min-width: 40em) {
  .quiz-section__question {
    font-size: 24px;
  }
}
.quiz-section__radio-group {
  display: grid;
  text-align: center;
  --gap: 9px;
  gap: var(--gap);
  font-size: 16px;
}
.quiz-section__radio-group label {
  display: block !important;
}
.quiz-section__radio-group.columned {
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  margin-bottom: var(--gap);
}
@media only screen and (min-width: 40em) {
  .quiz-section__radio-group.columned {
    font-size: 16px;
  }
}
@media only screen and (min-width: 40em) {
  .quiz-section__radio-group {
    display: flex;
    flex-wrap: wrap;
  }
}
.quiz-section .form__input {
  width: 100%;
}
.quiz-section .current-step {
  height: 100%;
  max-height: 478px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
}
.quiz-section .current-step__controlls {
  display: flex;
  gap: 16px;
}
.quiz-section .current-step__controlls button:not(:only-child),
.quiz-section .current-step__controlls .button-background,
.quiz-section .current-step__controlls input {
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}
.quiz-section .current-step[data-step-content="4"] form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.quiz-section .figure-wrapper {
  width: 100%;
  height: 48px;
}
@media only screen and (min-width: 40em) {
  .quiz-section .figure-wrapper {
    height: 58px;
  }
}
@media only screen and (min-width: 64em) {
  .quiz-section .figure-wrapper {
    height: 62px;
  }
}
.quiz-section__decor-img {
  display: none;
}
@media only screen and (min-width: 64em) {
  .quiz-section__decor-img {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -160px;
    left: -42px;
  }
}
@media only screen and (min-width: 40em) {
  .quiz-section button,
  .quiz-section input[type=submit] {
    font-size: 24px;
  }
}

.catalog {
  display: grid;
  position: relative;
  row-gap: 40px;
  font-size: 16px;
}
@media all and (min-width: 45em) {
  .catalog {
    column-gap: 16px;
    grid-template-columns: repeat(2, minmax(min(240px, 100%), 1fr));
  }
}
@media all and (min-width: 64em) {
  .catalog {
    column-gap: 24px;
    grid-template-columns: repeat(3, minmax(min(340px, 100%), 1fr));
  }
}
.catalog .button-background,
.catalog button {
  clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
}
@media all and (min-width: 64em) {
  .catalog .button-background,
  .catalog button {
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  }
}
@media all and (min-width: 64em) {
  .catalog button {
    padding: 8px 24px;
  }
}
.catalog-item_description {
  user-select: none;
  margin: 16px 0px;
}
.catalog-item_description h3 {
  margin-bottom: 8px;
  font-size: 18px;
}
@media all and (min-width: 64em) {
  .catalog-item_description h3 {
    font-size: 24px;
  }
}
@media all and (min-width: 40em) {
  .catalog-item_description p {
    min-height: 48px;
  }
}
.catalog-item img {
  margin: 0 auto;
  min-height: 318px;
}
.catalog-item_button-row {
  height: 48px;
  display: grid;
  font-weight: 500;
  gap: 4px;
  grid-template-columns: repeat(3, minmax(min(104px, 100%), 1fr));
  grid-template-rows: auto;
}
@media all and (min-width: 64em) {
  .catalog-item_button-row {
    gap: 8px;
    height: 36px;
    grid-template-columns: repeat(3, 115px);
  }
}
.catalog-banner {
  position: relative;
  background-color: rgb(255, 203, 5);
  clip-path: polygon(26px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
  padding: 24px;
  height: min-content;
  overflow: hidden;
}
@media all and (min-width: 45em) {
  .catalog-banner {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media all and (min-width: 64em) {
  .catalog-banner {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 36px;
  }
}
.catalog-banner .decor {
  margin-bottom: 40px;
}
@media all and (min-width: 40em) {
  .catalog-banner .decor {
    width: 120px;
    height: 104px;
  }
}
@media all and (min-width: 64em) {
  .catalog-banner .decor {
    width: 150px;
    height: 127px;
  }
}
.catalog-banner_content {
  font-size: 28px;
}
@media all and (min-width: 40em) {
  .catalog-banner_content {
    font-size: 40px;
  }
}
@media all and (min-width: 64em) {
  .catalog-banner_content {
    font-size: 48px;
  }
}
.catalog .bg-decor {
  position: absolute;
  z-index: -1;
  --sizing: 240px;
  width: var(--sizing);
  height: var(--sizing);
  right: calc(var(--sizing) * -0.2);
  bottom: calc(var(--sizing) * -0.3);
}
@media all and (min-width: 45em) {
  .catalog .bg-decor {
    --sizing: 440px;
  }
}
@media all and (min-width: 64em) {
  .catalog .bg-decor {
    --sizing: 549px;
    bottom: -20px;
  }
}

.brands-section .container {
  padding: 32px 20px;
}
@media only screen and (min-width: 64em) {
  .brands-section .container {
    padding: 48px 64px;
  }
}
.brands-section-heading {
  font-size: 24px;
  line-height: 1.45;
  margin-bottom: 32px;
}
@media only screen and (min-width: 40em) {
  .brands-section-heading {
    font-size: 48px;
    line-height: 56px;
  }
}
@media only screen and (min-width: 64em) {
  .brands-section-heading {
    font-size: 64px;
  }
}
.brands-section_brand-list, .brands-section_vehicle-list {
  display: grid;
}
.brands-section_brand-list {
  overflow: hidden;
  border-top: 2px solid #4f5261;
  border-bottom: 2px solid #4f5261;
  gap: 2rem;
  margin-bottom: 48px;
  grid-template-columns: repeat(2, minmax(min(120px, 100%), 1fr));
}
@media only screen and (min-width: 40em) {
  .brands-section_brand-list {
    grid-template-columns: repeat(4, minmax(min(100px, 100%), 1fr));
  }
}
@media only screen and (min-width: 84em) {
  .brands-section_brand-list {
    grid-template-columns: repeat(4, minmax(min(227px, 100%), 1fr));
  }
}
.brands-section_brand-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.brands-section_brand-list__item img {
  padding: 8px 0px;
}
.brands-section_brand-list__item::before, .brands-section_brand-list__item::after {
  content: "";
  position: absolute;
  background-color: #4f5261;
  z-index: 1;
}
.brands-section_brand-list__item::before {
  inline-size: 2px;
  block-size: 100vw;
  inset-inline-start: -1rem;
}
.brands-section_brand-list__item::after {
  inline-size: 100vw;
  block-size: 2px;
  inset-inline-start: 0;
  inset-block-start: -1rem;
}
@media only screen and (min-width: 64em) {
  .brands-section_brand-list__item {
    max-height: 144px;
  }
}
.brands-section_vehicle-list {
  gap: 32px 16px;
  grid-template-columns: repeat(2, minmax(min(142px, 100%), 1fr));
}
@media only screen and (min-width: 40em) {
  .brands-section_vehicle-list {
    grid-template-columns: repeat(4, minmax(min(80px, 100%), 1fr));
    gap: 1rem;
  }
}
.brands-section_vehicle-list__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.brands-section_vehicle-list__item img {
  max-height: 56px;
}
.brands-section_vehicle-list__item figcaption {
  margin-top: 8px;
  font-size: 16px;
}
@media only screen and (min-width: 64em) {
  .brands-section_vehicle-list__item {
    align-items: start;
    text-align: start;
    justify-content: start;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-section-heading {
  font-size: 24px;
  margin-bottom: 24px;
}
@media all and (min-width: 40em) {
  .contact-section-heading {
    font-size: 32px;
  }
}
.contact-section button {
  margin-bottom: 16px;
  max-width: 470px;
}
.contact-section .text-underline {
  font-size: 40px;
}

.footer {
  padding: 32px 0px;
}
.footer--interactive {
  margin-bottom: 40px;
}
.footer--interactive__logo {
  margin-bottom: 48px;
}
.footer--interactive ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media all and (min-width: 40em) {
  .footer--interactive ul {
    font-size: 20px;
    flex-direction: row;
    gap: 40px;
  }
}
@media all and (min-width: 75em) {
  .footer--interactive nav {
    display: flex;
    justify-content: space-between;
  }
}
.footer--copyright__main {
  text-align: center;
}
@media all and (min-width: 75em) {
  .footer--copyright__main {
    text-align: start;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between;
    font-size: 16px;
  }
}
@media all and (max-width: 64em) {
  .footer--copyright__main div {
    margin-top: 24px;
  }
}
.footer--copyright__main--schedule {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
@media all and (max-width: 75em) {
  .footer--copyright__main--schedule {
    margin-bottom: 40px;
    flex-direction: column;
  }
}
.footer--copyright__main--schedule span {
  font-size: 16px;
}
@media all and (min-width: 64em) {
  .footer--copyright__main--schedule span {
    max-width: 173px;
  }
}
.footer--copyright__main--schedule a {
  font-size: 40px;
}
.footer--copyright__description {
  line-height: 1.55;
  font-size: 12px;
  margin-top: 32px;
}
.footer .fc-not-accent {
  color: #95959d;
}
@media all and (min-width: 40em) {
  .footer__socials {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (min-width: 75em) {
  .footer__socials {
    gap: 40px;
  }
}
.footer__socials .socials__links {
  display: none;
}
@media all and (min-width: 40em) {
  .footer__socials .socials__links {
    display: flex;
  }
}

.slider-section_about {
  width: 100%;
  margin-bottom: 16px;
}
@media screen and (min-width: 64em) {
  .slider-section_about {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 38px;
  }
}
.slider-section_about-header {
  font-size: 24px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 40em) {
  .slider-section_about-header {
    text-align: left;
    max-width: none;
    font-size: 32px;
    margin: unset;
  }
}
.slider-section__controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
}
.slider-section__controls > * {
  transform: translateX(-0.85em);
}
.slider-section__controls > *:last-child {
  rotate: -180deg;
}

.glide.reversed {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 64em) {
  .glide.reversed > [data-column-order="2"] {
    order: 2;
  }
  .glide.reversed > [data-column-order="3"] {
    order: 3;
  }
}
.glide__slide img {
  border-radius: 3px;
  margin: 0 auto;
}
.glide__bullets {
  width: fit-content;
  margin: 4px auto;
}
@media screen and (min-width: 40em) {
  .glide__bullets {
    margin: 6px auto;
  }
}
.glide__bullet {
  border: none;
  height: 10px;
  width: 12px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.glide__bullet--active {
  background-color: rgb(255, 203, 5);
}
@media screen and (max-width: 64em) {
  .glide [data-text-align-mobile=left] {
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 64em) {
  #section-agregators article {
    margin-top: 48px;
  }
}
@media screen and (min-width: 64em) {
  #section-agregators article section {
    max-width: 533px;
  }
}
@media screen and (min-width: 64em) {
  #section-agregators .glide {
    max-width: 533px;
  }
}
#section-agregators .glide__track {
  margin: 0;
}

#repair-slider .slider-section_about-header {
  margin: 0;
  min-height: 150px;
  max-width: none;
}
@media screen and (min-width: 420px) {
  #repair-slider .slider-section_about-header {
    min-height: 100px;
  }
}
@media screen and (min-width: 64em) {
  #repair-slider .slider-section_about-header {
    max-width: 1100px;
    min-height: 80px;
  }
}

.slider__button {
  cursor: pointer;
  position: relative;
  height: 62px;
  width: 72px;
  background-color: rgb(255, 203, 5);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
@media (hover: hover) {
  .slider__button:hover {
    opacity: 0.7;
  }
}
.slider__button::before, .slider__button::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  top: 46%;
  right: 50%;
  background-color: black;
}
.slider__button::before {
  rotate: -45deg;
}
.slider__button::after {
  transform: translate(-8px, -7px);
  rotate: 45deg;
}

.socials__links {
  display: flex;
  column-gap: 32px;
}
.socials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.socials h3 {
  max-width: 300px;
}
@media only screen and (min-width: 40em) {
  .socials h3 {
    max-width: none;
    margin-bottom: 14px;
  }
}
.socials p {
  margin-bottom: 42px;
}
@media only screen and (min-width: 40em) {
  .socials p {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 64em) {
  .socials p {
    max-width: 980px;
  }
}

.socials__links a:hover {
  opacity: 0.6;
}

@font-face {
  font-family: "Brutal";
  src: url("/fonts/BrutalType-Bold.woff2") format("woff2"), url("/fonts/BrutalType-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brutal";
  src: url("/fonts/BrutalType-Medium.woff2") format("woff2"), url("/fonts/BrutalType-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brutal";
  src: url("/fonts/BrutalType.woff2") format("woff2"), url("/fonts/BrutalType.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Size classes */
.description-text-xs {
  font-size: 14px;
}
@media all and (min-width: 64em) {
  .description-text-xs {
    font-size: 16px;
  }
}

.text-s {
  font-size: 18px;
}
@media all and (min-width: 40em) {
  .text-s {
    font-size: 20px;
    line-height: 1.6;
  }
}

/* Weight classes */
.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

/* Color classes*/
.fc-accent {
  color: rgb(255, 203, 5);
}
.fc-main {
  color: #000;
}
.fc-neutral-900 {
  color: rgb(255, 255, 255);
}
.fc-neutral-400 {
  color: rgb(68, 71, 83);
}

.pop-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 24px 16px;
}
.pop-up-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 55px 20px;
  z-index: 999;
  top: 0;
  background-color: rgba(68, 71, 83, 0.7);
}
.pop-up .text-underline {
  font-size: 20px;
}
@media all and (min-width: 64em) {
  .pop-up .text-underline {
    font-size: 40px;
  }
}
.pop-up .text-underline[data-type=policy] {
  font-size: 16px;
}
.pop-up .button-close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
.pop-up form {
  margin-top: 16px;
}
@media all and (min-width: 64em) {
  .pop-up form {
    margin-top: 24px;
  }
}
.pop-up form label {
  font-size: 16px;
}
.pop-up form input {
  font-size: 16px;
}
@media all and (min-width: 64em) {
  .pop-up form input {
    font-size: 24px;
  }
}
.pop-up p:last-of-type {
  width: 99%;
}
@media all and (min-width: 64em) {
  .pop-up {
    font-size: 18px;
    padding: 24px;
  }
}

.show-popUp {
  cursor: pointer;
}

.members-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}
@media all and (min-width: 40em) {
  .members-list {
    font-size: 20px;
  }
}
@media all and (min-width: 64em) {
  .members-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 96px;
  }
}
.members-list__item {
  text-align: left;
}
@media all and (min-width: 40em) {
  .members-list__item {
    display: flex;
    column-gap: 16px;
    align-items: center;
  }
}
@media all and (min-width: 64em) {
  .members-list__item > div {
    transform: translateY(-6px);
  }
}
.members-list__item--header {
  font-size: 18px;
}
@media all and (min-width: 40em) {
  .members-list__item--header {
    font-size: 24px;
  }
}

#members-modal__header {
  text-align: left;
  max-width: 274px;
  font-size: 20px;
  margin-bottom: 34px;
}
@media all and (min-width: 40em) {
  #members-modal__header {
    font-size: 32px;
    max-width: none;
  }
}
#members-modal .pop-up {
  width: 100%;
  display: block;
  height: 100%;
  width: fit-content;
  overflow-y: scroll;
}
@media all and (min-width: 40em) {
  #members-modal .pop-up {
    padding: 32px;
  }
}
@media all and (min-width: 100em) {
  #members-modal .pop-up {
    display: flex;
    align-items: center;
    width: 1312px;
  }
}
@media all and (min-width: 64em) and (min-height: 680px) {
  #members-modal .pop-up {
    overflow: hidden;
    height: fit-content;
  }
}
@media all and (min-width: 64em) {
  #members-modal.pop-up-wrapper {
    padding: 16px 32px;
  }
}
#members-modal #owner {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
@media all and (min-width: 64em) {
  #members-modal #owner {
    gap: 6px;
  }
}
#members-modal #owner .bg-accent {
  padding: 0 0.2rem 0.1rem 0.2rem;
}

.form__input {
  height: 48px;
  padding: 18px 12px;
  border-radius: 2px;
  border: none;
  outline: 1px solid rgb(68, 71, 83);
}
.form__input:disabled {
  outline: 1px solid rgb(152, 160, 171);
  background-color: rgba(152, 160, 171, 0.25);
  color: rgb(152, 160, 171);
}
.form_label-group {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 16px;
}
.form__radio-btn {
  --border: 1px solid #000;
  --border-radius: 2px;
  --padding: 0.85em 1.2em;
  --color-initial: #fff;
  --color-selected: rgb(255, 203, 5);
  --color-hover: rgba(66, 70, 83, 1);
  display: inline-block;
}
.form__radio-btn input[type=radio] {
  display: none;
  /* OnSelect */
}
.form__radio-btn input[type=radio]:checked + label {
  background-color: var(--color-selected);
  outline: none;
}
.form__radio-btn label {
  display: inline-block;
  cursor: pointer;
  background-color: var(--color-initial);
  padding: var(--padding);
  outline: var(--border);
  border-radius: var(--border-radius);
  user-select: none;
  /* OnHover */
}
.form__radio-btn label:hover {
  color: var(--color-hover);
  border-color: var(--color-hover);
}

.button-close {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 20px;
  height: 20px;
}
.button-close:before, .button-close:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  height: 2px;
  background: #000;
  border-radius: 2px;
}
.button-close:before {
  transform: rotate(45deg);
}
.button-close:after {
  transform: rotate(-45deg);
}
.button-close span {
  display: block;
}
.button-close:hover {
  opacity: 0.6;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

:root {
  font-size: 18px;
}
@media only screen and (min-width: 64em) {
  :root {
    font-size: 20px;
  }
}

body {
  font-family: "Brutal", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  overflow-x: hidden;
}

.container {
  --max-width: 1325px;
  --padding: 20px;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
@media only screen and (min-width: 40em) {
  .container {
    --padding: 32px;
  }
}

.main-heading {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 40em) {
  .main-heading {
    font-size: 40px;
    line-height: 48px;
  }
}
@media only screen and (min-width: 64em) {
  .main-heading {
    font-size: 48px;
  }
}

.button {
  cursor: pointer;
  --button-shape: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  background-color: inherit;
  width: 100%;
  max-width: 320px;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  clip-path: var(--button-shape);
}
@media only screen and (min-width: 40em) {
  .button {
    --button-shape: polygon(3% 0, 97% 0, 100% 50%, 97% 100%, 3% 100%, 0% 50%);
    max-width: none;
  }
}
.button-background {
  height: calc(100% + 3px);
  width: calc(100% + 2px);
  transform: translate(-1px, -1px);
  clip-path: var(--button-shape);
}
@media only screen and (min-width: 64em) {
  .button-background {
    height: calc(100% + 2px);
  }
}
@media only screen and (min-width: 40em) {
  .button-fs-changing {
    font-size: 24px;
  }
}
.button:disabled.bg-accent {
  background-color: rgb(230, 231, 232);
}
.button:not(:disabled):hover.bg-accent {
  background-color: rgb(255, 229, 128);
}

.arrow {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-24px, 12px);
}
.arrow > * {
  background: #000;
}
@media only screen and (min-width: 64em) {
  .arrow > * {
    background: rgb(255, 203, 5);
  }
}
.arrow-body {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 19px;
  transform: translate(1px, -2px);
  rotate: 45deg;
}
.arrow-tip--left, .arrow-tip--right {
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 20%;
}
.arrow-tip--right {
  rotate: -90deg;
  transform: translate(-5px, 5px);
}

/* Utils */
.bg-accent {
  background-color: rgb(255, 203, 5);
}
.bg-main {
  background-color: #000;
}
.bg-neutral-400 {
  background-color: rgb(68, 71, 83);
}
.bg-neutral-900 {
  background-color: rgb(255, 255, 255);
}

.text-underline {
  text-decoration: 2px underline;
  text-underline-offset: 4px;
}
.text-underline[data-type=policy] {
  text-decoration: 1px underline;
}

.section-margin {
  --section-mb: 64px;
  margin-bottom: var(--section-mb);
}
@media all and (min-width: 40em) {
  .section-margin {
    --margin-bottom: 80px;
  }
}
@media all and (min-width: 64em) {
  .section-margin {
    --margin-bottom: 96px;
  }
}
.section-margin.entry-section {
  margin-bottom: calc(var(--section-mb) * 0.75);
}

.bottom-angle-cutoff-shape {
  max-width: fit-content;
  padding: 0.35rem 1.65rem 0.35rem 0.75rem;
  clip-path: polygon(50% 0%, 100% 0, 95% 100%, 0 100%, 0 0);
}

.figure {
  position: absolute;
  top: 0;
  left: 0;
}
.figure-wrapper {
  height: 100%;
  position: relative;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

button {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
